node_modules/
generated/
__pycache__/
*.pyc
*.log
.env
docker-compose.yml
.venv/
secrets/
others/*
!others/.gitkeep

officeform-web.tar

.coverage
coverage.xml
junit-reports/

# Office lock files
~$*.xlsx
~$*.xls

